<!doctype html>
{% extends 'base.html' %}
{% load static %}

{% block title %}signup page{% endblock %}

{% block content %}

    <main class="main">
        <!--register-->
        <section class="m-top  mb-60">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-6 m-auto">
                        <div class="widget">
                            <h5 class="widget__title">Sign up</h5>
                            <form  class="widget__form contact_form " method="post">
                                {% if message %}
                                    <h6 class="text-danger"> {{ message }}</h6><br>
                                {% endif %}
                                {% csrf_token %}
                                <div class="form-group">
                                    <input type="text" class="form-control widget__form-input" placeholder="your phone number..." name="number" value="">
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control widget__form-input" placeholder="Enter password..." name="password" value="">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control widget__form-input" placeholder="Enter your First name..." name="first_name" value="">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control widget__form-input" placeholder="Enter your Last name..." name="last_name" value="">
                                </div>
                                <div class="widget__form-btn">
                                    <button type="submit" class="btn-custom">Sign Up Now</button>
                                </div>
                                <p class="widget__form-text">Already have an account? 
                                    <a href="{% url 'accounts:login' %}" class="widget__form-link">Login</a>
                                </p>
                            </form>
                        </div> 
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}