<!doctype html>
{% extends 'base.html' %}
{% load static %}

{% block title %}Add your post{% endblock %}

{% block content %}

<main class="main">
        <!--contact us-->
        <section class="m-top">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-8 m-auto">
                        <div class="contact">
                            {{ form }}
                            <form action="{% url 'post:add_post' %}" method="POST" enctype="multipart/form-data" class="widget__form contact__form" id="main_contact_form">
                                {% csrf_token %}
                                <h3 class="widget__form-title">Add your post.</h3>
                                <div class="alert alert-success contact__msg" style="display: none" role="alert">
                                    Your message was sent successfully.
                                </div>
                                <div class="form-group">
                                    <input type="text" name="title" id="title" class="form-control widget__form-input" placeholder="Post title..." required="required">
                                </div>
                                <div class="form-group">
                                    <textarea name="body" id="body" cols="30" rows="5" class="form-control widget__form-input" placeholder="Post content..." required="required"></textarea>
                                </div>
                                <div class="form-group">
                                    <input type="number" name="read" id="read" class="form-control widget__form-input" placeholder="Time for read your post..." required="required">
                                </div>
                                <h5 class="widget__form-title">Choose your post picture.</h5>
                                <div class="form-group">
                                    <input type="file" name="image" id="image" class="form-control widget__form-input" placeholder="Post picture..." required="required">
                                </div>
                            
                                <button type="submit" name="submit" class="btn-custom">Create post</button>
                            </form>
                        </div> 
                    </div>
                
                </div>
            
            </div>
        </section>
    </main>

{% endblock %}